* {
    padding: 0px;
    margin: 0px;
}

main {
    width: 60%;
    margin-left: 20px;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    /*양옆으로*/
    height: 100px;
    align-items: center;
    /*중간으로*/
    padding: 0px 20px 0px 20px;
    /*0px 20px과 동일*/
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

article ul {
    width: 80%;
    /*main에서 준 60%의 80%*/
    background-color: lightcyan;
    list-style: none;
}

article li {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px dotted gray;
    padding: 10px;
}

article li:hover {
    background-color: lightblue;
}

article a {
    text-decoration: none;
}

section h1 {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted gray;
    padding: 20px;
    margin: 10px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}